<div *ngIf="orderErrors.length > 0">
    <h4 *ngFor="let error of orderErrors" style="color: crimson;">{{error}}</h4>
</div>
<label>City:</label>
<select (dblclick)="fillCityInput()" [(ngModel)]="city">
    <option *ngFor="let city of citiesList" value="{{city}}">{{city}}</option>
</select><br><br>
<label>Street</label>
<input (dblclick)="fillStreetInput()" type="text" [(ngModel)]="street"><br><br>
<label>Date</label>
<input type="date" [(ngModel)]="date"><br><br>
<label>Credit Card</label>
<input type="text" [(ngModel)]="creditCard"><br><br>
<button (click)="submitOrder()">Submit Order</button>

<div [class]="orderPopUpWindowClass">
    <h3>Thank You!</h3>
    <h5>Your order submited</h5>
    <p>You can download your check</p>
    <a href="/api/orders/download/{{orderId}}">here</a>
    <button (click)="navToHome()">Ok</button>
</div>