<div>
    <div class="search">
        <input [(ngModel)]="nameToSearch" type="text">
        <div class="btn" (click)="searchByName()"><i class="bi bi-search"></i> Search</div>
    </div>
    <div class="products-main">
        <div *ngIf="userRole === 'customer'" class="app-cart" [style]="cartStyle">
            <app-cart></app-cart>
            <i [class]="toggleIconClass" (click)="changeWidth()"></i>
        </div>
        <div *ngIf="userRole === 'admin'" class="admin-sidebar">
            <app-admin-sidebar></app-admin-sidebar>
        </div>
        <div *ngIf="searchResultsAreHidden" class="app-products-list">
            <app-products-list></app-products-list>
        </div>
        <div *ngIf="!searchResultsAreHidden" class="app-products-list">
            <app-single-product *ngFor="let product of searchResults" [product]="product"></app-single-product>
            <div class="btn" (click)="hideSearchResults()">Back to products</div>
        </div>
    </div>
</div>