@import "~bootstrap-icons/font/bootstrap-icons.css";

.header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(5, 165, 72, 0.822)
}

.header-info {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.header button, .header p {
    display: inline;
}