<div (click)="onProductClicked()" class="cart single-product">
    <img src="http://localhost:8080/images/{{product.img}}">
    <h4>{{product.name}}</h4>
    <p>{{product.price}} ILS</p>
</div>

<!-- Pop Up Window -->
<div [class]="quantityPopUpWindowStyle">
   <div>
       <span>Quantity</span>
   </div>
    <div>
        <i (click)="decreaseQuantity()" class="bi bi-dash-circle-fill"></i>
        <span>{{quantity}}</span>
        <i (click)="increaseQuantity()" class="bi bi-plus-circle-fill"></i>
    </div>
    <div>
        <div class="btn" (click)="onAddProductToCart()">Add</div>
        <div class="btn" (click)="quantityPopUpWindowToggle()">Cancel</div>
    </div>
</div>