.products-list-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products-list-navigation a {
    text-decoration: none;
    display: block;
    color: rgb(5, 165, 72);
    font-size: 20px;
    border-bottom: 2px solid transparent;
}


.products-list-navigation a:hover {
    border-bottom: 2px solid rgb(5, 165, 72);
}

.products-list-navigation a:active {
    border-bottom: 2px solid rgb(5, 165, 72);
}
.active {
    background-color: rgba(5, 165, 72, 0.205);
}